<?php
/**
 * Copy this file to Config.php but be sure to edit the file first.
 * If you don't read the entire file, you'll find out that syntax
 * errors will occur.
 */

/**
 * phpjobseeker
 *
 * Copyright (C) 2009 Kevin Benton - kbenton at bentonfam dot org
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 * 
 */

/**
 * The proper way to use the config class is to first create
 * a new instance of the class, then utilize the $values
 * hash to pull out what's needed.
 *
 * $oConfig = new Config();
 * var_dump($oConfig->values);
 */

require_once("Libs/autoload.php");

class Config {
	/**
     * Use the __construct() method to set values
	 */
    public static $values = null;

    /**
     * Constructor checks to see if $values is still null.
     * If not, set up the configuration values.  Otherwise,
     * use the cached values.
     */
    public function __construct() {
    	if (!isset($this->values)) {
    	    $this->values['db_style']         = 'MySQL' ;     // Which database type?
    		$this->values['db_host']          = 'localhost' ; // Where is MySQL?
            $this->values['db_port']          = '3306' ;      // What port?
            $this->values['db_name']          = 'db_name' ;   // Name of the DB to use?
            $this->values['db_user']          = 'db_user' ;   // User name with access?
            $this->values['db_pass']          = 'db_pass' ;   // That user's password?
            $this->values['really_update_db'] = 1 ;           // Set this to zero if you don't
                                                              // really want to update the db and
                                                              // you're willing to put up with errors.
            $this->values['debug_mode']       = 0 ;           // When having problems, set to 1
            $this->values['test_mode']        = 0 ;           // Dangerous to set to 1 - allows db to get
                                                              // reset completely using resetDb.php
            $this->values['browserRoot']      = 'http://localhost' ; // Used to test the system.
            $this->values['browserDir']       = '/test_dir/' ; // Used to test the system.
            $this->values['timeZone']         = 'America/Chicago' ;  // Time Zone
    	}
    }
}
To make this work, remove these lines (this and the next two) and edit the values
above. This is an intentional error.  Please read the file before installing!

